@media screen and (min-width: 600px) {
    body {
    }
    *{
        margin: auto;
    }
}

body{
    border: 0;
    margin: 0;
    padding: 0;
}
#container{
    position: relative;
    width: 100vw;
    max-width: 390px;
    height: 100vh;
    margin: auto;
    background: url("./assets/bg.png");
    background-size: cover;
}
#flagpole,#flag{
    position: absolute;
}
#flag{
    width: 7rem;
    height: 3rem;
    bottom: 510px;
    left: 50%;
    animation-name: flag_up;
    animation-duration: 53s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}
#flag>img{
    width: 7rem;
}

#flagpole{
    width: .5em;
    height: 550px;
    left: 50%;
    background: #e3e3e3;
    border: solid 1px;
    bottom: 0em;
    transform: translateX(-2px);
}
#flagpole::before{
    content: "";
    position: absolute;
    background: gold;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    top: -1em;
    left: -.3em;
}
#tiananmen{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: url("assets/tiananmen.png") no-repeat;
    background-size: cover;
    background-position: bottom center;
}
#flag_up{
    display: block;
    text-align: center;
    line-height: 25px;
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius:50%;
    border: none;
    background: red;
    color: white;
    padding: 10px;
    font-size: 17px;
    font-weight: bolder;
    box-shadow: 0 0 10px 6px yellow;
    transform: rotate(0);
    animation-name: rotateAndBig;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    z-index: 99;
}
@keyframes rotateAndBig {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes flag_up {
    from{
        transform: translateY(400px);
    }
    to{
        transform: translateY(0px);
    }
}
#shadow{
    top:0;
    color: white;
    font-size: 1.5em;
    text-align: center;
    line-height: 100vh;
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);
}
#muted{
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    padding: 0;
    background: none;
    border: none;
}
#muted:focus{
    outline: none;
}
#show_at_end{
    position: absolute;
    z-index: 99999;
    background: red;
    border: yellow 5px solid;
    box-shadow: 0 0 2px 20px red;
    padding: 20px 5px 5px 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: lightyellow;
    font-size: 1.5em;
    width: 220px;
}
#show_at_end>b{
    font-size: 1.3em;
}
#show_at_end>p{
    font-weight: bold;
}
#show_at_end>small:last-child{
    font-size: .8em;
    text-align: center;
}